<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Faculty", "Index", "Faculties")</li>
        <li>@Html.ActionLink("Students", "Index", "Students")</li>
        <li>@Html.ActionLink("Standards", "Index", "Standards")</li>
        <li>@Html.ActionLink("Courses", "Index", "Courses")</li>

        @if (User.Identity.IsAuthenticated)
        {
            <li>Welecome :@User.Identity.Name.ToUpper()</li>
            <li>@Html.ActionLink("Sign Out", "SignOut", "Account")</li>
        }
        else
        {
            <li>@Html.ActionLink("Login", "Login", "Account")</li>
        }


    </ul>
</div>
